# Aula 3 - Warmup de Introdução ao Pandas

### Treinando a função Lambda

#### W3.1 Crie uma função lambda que retorne o valor do argumento multiplicado por ele mesmo

In [ ]:
# Faça aqui

#### W3.2 Crie uma função lambda que retorne o último caracter de uma string passada como argumento

In [ ]:
# Faça aqui

#### W3.3 Usando a função do exercício anterior, ordene a lista de strings a seguir. Ou seja, ordene pela ordem alfabética do ultimo caractere. 
#### Dica: use o argumento key da função str.sort()

In [ ]:
#Considere a lista de strings abaixo
strings = ['foo', 'card', 'bar', 'aaa2222a', 'abasb']
# Ordene esta lista pelo tamanho das strings usando uma função lambda

### Treinando conceitos de Pandas e Series

In [2]:
# Importe as bibliotecas pandas e numpy
import pandas as pd
import numpy as np

#### W3.4 Crie um objeto Series contendo os seguintes elementos [4, 7, -5, 3]

In [ ]:
# Faça aqui

#### W3.5 Crie um objeto Series contendo [4, 7, -5, 3] e defina seu próprio array de índices como sendo ['d', 'b', 'a', 'c']

In [ ]:
# Faça aqui

#### W3.6 Use o índice para acessar o valor 4 do objeto Series criado no exercicio W3.5

In [ ]:
# Faça aqui

#### W3.7 Use o índice para acessar os valores 7 e 3 do objeto Series criado no exercicio W3.5

In [ ]:
# Faça aqui

#### W3.8 Atribua o valor 6 ao elemento de índice d

In [ ]:
# Faça aqui

#### W3.9 Verifique se o índice 'c' está presente na Serie criada no exercício W3.5

In [ ]:
# Faça aqui

#### W3.10 Verifique se o índice 'e' está presente na Serie criada no exercício W3.5

In [ ]:
# Faça aqui

#### W3.11 Retorne os elementos da Series abaixo cujo valor seja maior que 0

In [ ]:
# Considere a seguinte serie
obj2 = pd.Series([0, 7, -5, 3, 2, 5, -15], index=['d', 'b', 'a', 'c', 'd', 'e', 'f'])
# Faça aqui

#### W3.12 Retorne os valores da Serie obj2 (exercício W3.11) multiplicados por 2

In [ ]:
# Faça aqui

#### W3.13 Retorne os valores da aplicação da função exponencial (np.exp) a Serie obj2 (exercício W3.11)

In [ ]:
# Faça aqui

#### W3.14 Criando uma Serie com um dicionário. Chame a Serie de obj3.

In [ ]:
# Crie uma série com o seguinte dicionário 
# {'carro': 350, 'moto': 750, 'bicicleta': 260, 'caminhao': 500, 'trem': np.nan, 'aviao': np.nan}
# Chame a Serie de obj3
# Faça aqui

### Treinando conceitos de Valores Ausentes/Indisponíveis (NA)

#### W3.15 Retorne, na forma de uma serie de booleanos, quais elementos da Serie obj3 tem valores NA

In [ ]:
# Faça aqui

#### W3.16 Retorne, na forma de uma serie de booleanos, quais elementos da Serie obj3 não tem valores NA

In [ ]:
# Faça aqui

#### W3.17 Retorne os valores não nulos (diferentes de NA) da serie obj3

In [ ]:
# Faça aqui

#### W3.18 Remova os elementos de valor NA da serie obj3

In [ ]:
# Faça aqui

### Treinando Aritmética com Series

#### W3.19 Crie a série abaixo

In [ ]:
# Crie uma série com o seguinte dicionário 
# {'carro': 50, 'moto': 150, 'bicicleta': 200, 'caminhao': np.nan, 'trem': 10, 'aviao': 20}
# Chame a Serie de obj4
# Faça aqui

#### W3.20 Some as séries criadas nos dois exercícios anteriores (obj3 e obj4)

In [ ]:
# Faça aqui

## Treinando conceitos sobre DataFrames

#### W3.21 Crie um data frame a partir dos dados do seguinte dicionário. Chame-o de frame

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002, 2003],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
# Faça aqui

#### W3.22 Mostre as primeiras linhas do dataframe frame

In [ ]:
# Acesse as primeiras linhas do dataframe frame
frame.head()

#### Acesse a coluna state usando a sintaxe com colchetes

In [ ]:
# Faça aqui

#### W3.23 Atribua o valor 16.5 para todas as posições de uma nova coluna chamada debt.

In [ ]:
# Faça aqui

#### W3.24 Atribua o valor do intervalo de 0 a 5 (float) na coluna debt.
#### Dica: use a função np.arange

In [ ]:
# Faça aqui

#### W3.25 Crie uma nova coluna chamada eastern com o valor True para as linhas cujo estado seja Ohio, e False caso contrário.

In [ ]:
# Faça aqui

#### W3.26 Delete a coluna eastern usando o comando del

In [ ]:
# Faça aqui

#### W3.27 Crie um DataFrame a partir de um dicionário de dicionários. Chame-o de frame3.

In [ ]:
# Crie um Dataframe a partir do seguinte dicionário:
pop = {'DF': {2001: 2.7, 2002: 2.8},
        'GO': {2000: 1.2, 2001: 1.7, 2002: 2.6}}
# Faça aqui

#### W3.28 Retorne somente os valores do dicionário frame3. 
#### Dica use o atributo values.

In [ ]:
# Faça aqui

#### W3.29 Remova os valores de uma Serie conforme especificado a seguir.

In [ ]:
# Considere a Serie abaixo
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
obj

In [ ]:
# Crie um novo objeto removendo o item de índice c

In [ ]:
# Retorne uma serie sem os itens c e d

#### W3.30 Removendo entradas de um DataFrame conforme especificado a seguir.

In [3]:
# Considere o dataframe abaixo
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['DF', 'GO', 'SP', 'RJ'],
                    columns=['um', 'dois', 'tres', 'quatro'])
data

    um  dois  tres  quatro
DF   0     1     2       3
GO   4     5     6       7
SP   8     9    10      11
RJ  12    13    14      15

In [ ]:
# Retorne um dataframe sem as linhas DF e GO

In [ ]:
# Remova a coluna tres do dataframe data. Dica: use o argumento axis do método drop.

#### W3.31 Realize as operações solicitadas a seguir

In [ ]:
# Considere o dataframe abaixo
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['DF', 'GO', 'SP', 'RJ'],
                    columns=['um', 'dois', 'tres', 'quatro'])
data

In [ ]:
# Retorne um dataframe contendo True para itens menores que 5, e False caso contrário

In [ ]:
# Atribua o valor zero onde os valores do dataframe são menores que 5

### Treinando Filtro e Seleção num dataframe
#### W3.32 Execute as instruções solicitadas a seguir.

In [ ]:
# Selecione as colunas um e dois do dataframe data

In [ ]:
# Retorne as linhas do dataframe data cujo valor da coluna tres seja maior que 5

### Treinando seleção com os operadores loc e iloc
#### W3.33 Execute as instruções solicitadas a seguir.

In [ ]:
# Retorne o subconjunto especificado pela linha DF e colunas dois e tres

In [ ]:
# Utilizando o iloc, retorne o subconjunto especificado pela linha 2 e colunas 3, 0 e 1