## Aula 4 - Pandas e Fontes de dados

### Treinando a função apply
#### W4.0a Execute as instruções solicitadas a seguir.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Considere o dataframe abaixo
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),
                        index=['DF', 'GO', 'SP', 'RJ'])
frame

           b         d         e
DF  0.842023  0.918714 -1.377684
GO -1.813201 -0.035857 -1.374505
SP  1.115301 -1.417111  0.458633
RJ -1.559608  1.035000 -0.843160

In [4]:
# Crie uma função lambda para calcular a diferença 
# entre a média e a mediana de uma Serie, e aplique-a ao dataframe frame, fazendo o cálculo ao longo do eixo das linhas
frame.apply(lambda x: x.mean() - x.median(), axis=0)

b    0.004921
d   -0.316242
e    0.324653
dtype: float64

In [6]:
# aplique a mesma função lambda ao dataframe frame, fazendo o cálculo ao longo do eixo das colunas
frame.apply(lambda x: x.mean() - x.median(), axis=1)

DF   -0.714339
GO    0.299984
SP   -0.406359
RJ    0.387237
dtype: float64

### Treinando a função applymap
#### W4.0b Execute as instruções solicitadas a seguir.

In [7]:
# Crie uma função lambda para formatar um número float com tres casas decimais,
# e aplique-a ao dataframe frame
frame.applymap(lambda x: "%.2f" % x)

        b      d      e
DF   0.84   0.92  -1.38
GO  -1.81  -0.04  -1.37
SP   1.12  -1.42   0.46
RJ  -1.56   1.04  -0.84

#### W4.0c Execute as instruções solicitadas a seguir.

In [8]:
# Considere o dataframe abaixo
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                    [np.nan, np.nan], [0.75, -1.3]],
                    index=['a', 'b', 'c', 'd'],
                    columns=['one', 'two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [15]:
# Calcule a soma ao longo do eixo das linhas, considerando que 
# a soma de um número com um NA retorna um NA.
df.sum(axis=0, skipna=False)

one   NaN
two   NaN
dtype: float64

In [16]:
# Calcule a soma ao longo do eixo das colunas, considerando que 
# a soma de um número com um NA retorna um NA.
df.sum(axis=1, skipna=False)

a     NaN
b    2.60
c     NaN
d   -0.55
dtype: float64

In [17]:
# Calcule a média ao longo do eixo das linhas desconsiderando valores NA, ou seja, 
# calcule a média mesmo que haja um valor NA na respectiva linha.
df.sum(axis=0, skipna=True)

one    9.25
two   -5.80
dtype: float64

In [18]:
# Calcule a média ao longo do eixo das linhas retornando NA para colunas que tenham algum NA
df.sum(axis=1, skipna=True)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [19]:
# Aplique um método para calcular várias estatísticas do dataframe df
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

### Manipulação de Fontes de Dados

#### W4.1 Carregue o arquivo do PIB disponibilizado nas bases de dados deste curso. Você pode escolher abrir do arquivo local ou diretamente da URL do github.
#### Ajuste corretamente os argumentos skiprows e skipfooter para deixar na sua tabela somente os dados de interesse. As linhas de cabeçalho desnecessárias e o rodapé não devem fazer parte da sua tabela de dados.

In [28]:
path_pib = 'https://github.com/alexlopespereira/curso_ciencia_dados2021/raw/master/data/originais/pib/pib_municipios.xlsx'
df = pd.read_excel(path_pib, skiprows=3, skipfooter=1)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,2007,2009,2011,2013,2015,2017
5565,MU,5222005,Vianópolis (GO),122694,164336,223144,291919,312348,395787
5566,MU,5222054,Vicentinópolis (GO),87881,133430,149230,259422,322298,350765
5567,MU,5222203,Vila Boa (GO),31897,73367,84103,103233,111229,137500
5568,MU,5222302,Vila Propício (GO),76868,107125,112821,142970,198935,182175
5569,MU,5300108,Brasília (DF),93404001,124323753,154568954,175906726,215612863,244682756

In [26]:
# Mostre os 10 primeiros registros da sua tabela com o método pd.DataFrame.head()
df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,2007,2009,2011,2013,2015,2017
0,MU,1100015.0,Alta Floresta D'Oeste (RO),191364,256986,280510,341325.0,421300.0,498864.0
1,MU,1100023.0,Ariquemes (RO),905203,1133095,1651885,1799853.0,2037799.0,2296074.0
2,MU,1100031.0,Cabixi (RO),49166,69776,77217,96365.0,116565.0,138894.0
3,MU,1100049.0,Cacoal (RO),814890,985479,1259024,1433254.0,1794478.0,2127523.0
4,MU,1100056.0,Cerejeiras (RO),143270,190902,260142,353270.0,397736.0,448524.0
5,MU,1100064.0,Colorado do Oeste (RO),137899,174168,206425,242767.0,285372.0,340047.0
6,MU,1100072.0,Corumbiara (RO),72291,119226,145412,168681.0,190906.0,330393.0
7,MU,1100080.0,Costa Marques (RO),74215,99854,120018,149739.0,187170.0,215992.0
8,MU,1100098.0,Espigão D'Oeste (RO),220452,291491,347581,426546.0,483962.0,577982.0
9,MU,1100106.0,Guajará-Mirim (RO),374116,521104,715386,605131.0,682458.0,804570.0

In [ ]:
# Mostre os 10 últimos registros da sua tabela com o método pd.DataFrame.tail()
df.tail()

In [30]:
# Vizualize os tipos dos dados desse dataframe utilizando o método pd.DataFrame.info()
# Use esse método SEMPRE que alguma coisa não funcionar quando estiver 
# fazendo operaçoes que esperam algum tipo de dado específico numa coluna.
# Por exemplo, é comum você tentar concatenar o conteúdo de duas colunas na forma de string
# imaginando que as duas colunas já são string, quando na verdade alguma delas não são.
# Outro exemplo de erro bastante comum é você tentar somar o valor de duas colunas quando
# uma delas ou as duas não são números, mas strings.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5570 non-null   object
 1   Unnamed: 1  5570 non-null   int64
 2   Unnamed: 2  5570 non-null   object
 3   2007        5570 non-null   object
 4   2009        5570 non-null   object
 5   2011        5570 non-null   object
 6   2013        5570 non-null   int64
 7   2015        5570 non-null   int64
 8   2017        5570 non-null   int64
dtypes: int64(4), object(5)
memory usage: 391.8+ KB

#### W4.2 Carregue o arquivo do índice de gini. Você pode escolher abrir do arquivo local ou diretamente da URL do github.
#### Assegure-se de carregar os cabeçalhos corretamente e os valores numericos como float. Para isso, use os argumentos sep, skiprows, skipfooter, na_values, decimal e encoding='utf8'.

In [43]:
path_gini = 'https://github.com/alexlopespereira/curso_ciencia_dados2021/raw/master/data/originais/gini/ginibr.csv'
pd.read_csv(path_gini, sep=";", skiprows=2, skipfooter=2, encoding='utf8', decimal=",")

<ipython-input-43-964c80c64420>:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  pd.read_csv(path_gini, sep=";", skiprows=2, skipfooter=2, encoding='utf8', decimal=",")

                           Município    1991    2000    2010
0       110001 Alta Floresta D'Oeste  0.5983  0.5868  0.5893
1     110037 Alto Alegre dos Parecis     ...   0.508  0.5491
2                110040 Alto Paraíso     ...  0.6256  0.5417
3            110034 Alvorada D'Oeste   0.569  0.6534  0.5355
4                   110002 Ariquemes  0.5827  0.5927  0.5496
...                              ...     ...     ...     ...
5560               522200 Vianópolis  0.5622  0.6746  0.4672
5561           522205 Vicentinópolis  0.6308  0.5934  0.4824
5562                 522220 Vila Boa     ...  0.5308  0.4935
5563            522230 Vila Propício     ...  0.5299  0.5240
5564                 530010 Brasília  0.6203  0.6406  0.6370

[5565 rows x 4 columns]

#### W4.3 Carregue o arquivo do dataset de morbidade disponibilizado nas bases de dados deste curso. Você pode escolher abrir do arquivo local ou diretamente da URL do github.
#### Ajuste corretamente os argumentos sep e decimal. Assegure-se de que os dados numéricos foram carregados em formato numérico (int ou float). Use o método pd.DataFrame.info() para fazer esta verificação.

In [53]:
path_morbidade = 'https://github.com/alexlopespereira/curso_ciencia_dados2021/raw/master/data/originais/morbidade/consolidado/morbidade_simplificado.csv'
df = pd.read_csv(path_morbidade, sep=";", decimal=",", na_values='-')
df

                     Município  cod_ibge6  mes   ano     mes_ano  Óbitos
0        Alta Floresta D'Oeste     110001  Abr  2020  2020-04-01     8.0
1      Alto Alegre dos Parecis     110037  Abr  2020  2020-04-01     1.0
2                 Alto Paraíso     110040  Abr  2020  2020-04-01     2.0
3             Alvorada D'Oeste     110034  Abr  2020  2020-04-01     1.0
4                    Ariquemes     110002  Abr  2020  2020-04-01    10.0
...                        ...        ...  ...   ...         ...     ...
33345               Vianópolis     522200  Jan  2020  2020-01-01     4.0
33346           Vicentinópolis     522205  Jan  2020  2020-01-01     1.0
33347                 Vila Boa     522220  Jan  2020  2020-01-01     NaN
33348            Vila Propício     522230  Jan  2020  2020-01-01     NaN
33349                 Brasília     530010  Jan  2020  2020-01-01   578.0

[33350 rows x 6 columns]

### Descartando valores faltantes (NA ou NaN)

#### W4.5 Remova os valores NA da series a seguir

In [54]:
from numpy import nan as NA
# Considere a serie a seguir
data = pd.Series([1, NA, 3.5, NA, 7])
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

#### W4.6 Remova os itens duplicados do dataframe a seguir

In [56]:
# Considere o seguinte dataframe
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'], 'k2': [1, 1, 2, 3, 3, 4, 4]})
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

### Treinando Indexação Hierárquica

In [57]:
# Considere a seguinte Serie
data = pd.Series(np.random.randn(9), index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                                            [1, 2, 3, 1, 3, 1, 2, 2, 3]])
# Mostre o indice hierárquico
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

#### W4.7 Considerando a serie data, definida na célula anterior, faça um filtro com uma lista de elementos do 1o nível do índice

In [58]:
# Faça aqui
data[['a', 'b']]

a  1    0.704635
   2   -0.814005
   3   -2.029690
b  1   -0.340242
   3    0.125054
dtype: float64

#### W4.8 Considerando a serie data, faça um filtro no 2o Nível (mais interno)

In [59]:
# Considere o seguinte dataframe
data[:, 2]

a   -0.814005
c    1.320533
d    0.168697
dtype: float64