In [3]:
import pandas as pd
import numpy as np

In [2]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [3]:
data.loc['Colorado', ['two', 'three']]

two      5
three    6
Name: Colorado, dtype: int64

In [4]:
data.iloc[2, [3, 0, 1]]

four    11
one      8
two      9
Name: Utah, dtype: int64

In [4]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002, 2003],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data, index=['a', 'b', 'c', 'd', 'e', 'f'])
frame

    state  year  pop
a    Ohio  2000  1.5
b    Ohio  2001  1.7
c    Ohio  2002  3.6
d  Nevada  2001  2.4
e  Nevada  2002  2.9
f  Nevada  2003  3.2

In [6]:
print('Nome(s) de coluna(s)')
print(frame.loc['a'])
print

print('Nome(s) de linha(s) e nomes de coluna(s)')
print(frame.loc['a', 'pop'])
print()

print('Vetor de booleano e nome de coluna')
print(frame.loc[[True, True, False, False, False, False], 'pop'])
print()

print('Vetor(es) de booleano(s)')
print(frame.loc[[True, True, False, False, False, False], [True, True, False]])
print()

print('Indice(s) da(s) linha(s) e coluna(s)')
print(frame.iloc[0:2, 1]) # Indice(s) da(s) linha(s) e coluna(s)
print()

print('Nome(s) da(s) colunas')
print(frame['pop'])
print()

print('Vetor de booleano')
print(frame[[True, True, False, False, False, False]]) # Vetor de booleano
print()

Nome(s) de coluna(s)
state    Ohio
year     2000
pop       1.5
Name: a, dtype: object
Nome(s) de linha(s) e nomes de coluna(s)
1.5

Vetor de booleano e nome de coluna
a    1.5
b    1.7
Name: pop, dtype: float64

Vetor(es) de booleano(s)
  state  year
a  Ohio  2000
b  Ohio  2001

Indice(s) da(s) linha(s) e coluna(s)
a    2000
b    2001
Name: year, dtype: int64

Nome(s) da(s) colunas
a    1.5
b    1.7
c    3.6
d    2.4
e    2.9
f    3.2
Name: pop, dtype: float64

Vetor de booleano
  state  year  pop
a  Ohio  2000  1.5
b  Ohio  2001  1.7